<sb-layout-blog>
    <sb-clean-blog-header backgroundImage='url("assets/img/galaxy.jpg")' heading="" subHeading="" [siteHeading]="true"></sb-clean-blog-header>
    <sb-demo-info *ngIf="!isLoggedIn"></sb-demo-info>
    <article>
        <h2 class="subtitulos-tipo">
            Horóscopos del mes de julio
        </h2>
        
            <ul class= "row bloque-de-iconos">
                
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/1.jpg">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/2.jpg">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/3.jpg">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/4.jpg">
                    </a>
                </li>
            
            </ul>

            <ul class= "row bloque-de-iconos">
                
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/5.jpg">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/6.jpg">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/7.jpg">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/8.jpg">
                    </a>
                </li>
            
            </ul>

            <ul class= "row bloque-de-iconos">
                
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/9.jpg">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/10.jpg">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/11.jpg">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/signos/12.jpg">
                    </a>
                </li>
            
            </ul>
        
    </article>

    <hr>
    Publicidad
    <hr>

    <article>
        <h2 class="subtitulos-tipo">
            Noti TAL
        </h2>
        
            <ul class= "row bloque-de-iconos">
                
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/NTAL-saturnoEnAcuario.png">
                        <h2 class="post-titulos">Saturno en acuario</h2>
                    </a>
                </li>
            
            </ul>
       
    </article>

    <hr>
    Publicidad
    <hr>

    <article>
        <h2 class="subtitulos-tipo">
            Basic TAL
        </h2>
        
            <ul class= "row bloque-de-iconos">
                
                <li>
                    <a class="nav-link" routerLink="/about">
                        <img class="signos-home-image" src="assets/img/BTAL-mercurio.png">
                        <h2 class="post-titulos">Mercurio Retrógrado</h2>
                    </a>
                </li>

            </ul>

    </article>

    <!--
    <ng-container *ngIf="posts$ | async as posts"
        ><div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview" *ngFor="let post of posts">
                        <a [routerLink]="post.slug"
                            ><h2 class="post-title">{{post.heading}}</h2>
                            <h3 class="post-subtitle">{{post.subHeading}}</h3></a
                        >
                        <p class="post-meta">{{post.meta}}</p>
                    </div>
                </div>
            </div>
        </div></ng-container
    >
    -->
    
    </sb-layout-blog
>
