// Import Clean Blog 
@import "clean-blog/clean-blog.scss";

// Import Prism
@import 'prism.scss';

.pointer {
    cursor: pointer;
}

.page-background {
    background-color: #263648;
}

#mainNav .btn {
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
}

.astros-tipo {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: #D0D9E9;
}

.header-image {
    padding: 0 0;
}

