// Import Clean Blog 
@import "clean-blog/clean-blog.scss";

// Import Prism
@import 'prism.scss';

.pointer {
    cursor: pointer;
}

.page-background {
    background-color: #263648;
}

#mainNav .btn {
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
}

.astros-tipo {
    font-family: 'Lobster Two';
    font-size: 2rem;
    color: #D0D9E9;
}

.titulos-tipo {
    color: #263648;
    border-color: white;
    text-shadow: -1px -1px 0px  #D0D9E9;
    font-family: 'Comfortaa';
    font-size: 700;
}

.leyenda-tipo {
    color: #D0D9E9;
    text-shadow: -1px -1px 0px  #263648;
    font-family: 'Lobster Two', cursive;
    font-size: 200;
}

.subtitulos-tipo {
    color: #D0D9E9;
    margin-left: 7vw;
    font-family: 'Lobster Two', cursive;
    font-size: 3vw;
}

.parrafo {
    display: block;
    width: 60%;
    margin-left: 16rem;
    padding: 0px, 20px;
    text-align: justify;
    color: #D0D9E9;
    font-family: 'Comfortaa';
}

.footer-tipo {
    font-family: 'Comfortaa';
}

.enlaces-header {
    font-family: 'Comfortaa';
}

.header-image {
    margin: 5px, 20px, 5px, 20px;
    height: 200px;
    width: 200px;
    border-radius: 900px;
    overflow: hidden;
    text-align: center;
}

.signos-home-image {
    margin-left: 5vw;
    margin-top: 2vw;
    height: 15vw;
    width: 15vw;
    border-radius: 2vw;
    overflow: hidden;
}

.bloque-de-iconos {
    //margin-left: 12rem;
    list-style:none;
}

.post-titulos {
    color: #D0D9E9;
    font-family: 'Lobster Two', cursive;
    font-size: 2vw;
    margin-top: 1vw;
    margin-left: 4vw;
    text-align: center;
}

.centrar {
    text-align: center;
}


