<sb-layout-blog class="subtitulos-tipo">
    <sb-clean-blog-header backgroundImage='url("assets/img/galaxy.jpg")' signo="sagitario" heading="Sagitario" subHeading="23 de noviembre al 21 de diciembre" [postHeading]="true"></sb-clean-blog-header>
    <article class="parrafo">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod iusto error porro dolores sunt ab saepe, molestias esse provident doloremque aliquid neque explicabo architecto ea culpa laudantium? Sunt, modi dicta!</p>
    </article>
</sb-layout-blog>
