<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/tusastrosdeluz/" target="_blank">
                            <fa-stack size="sm">
                                <fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon>
                                <fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "facebook-f"]' stackItemSize="1x"></fa-icon>
                            </fa-stack>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/tusastrosdeluz/" target="_blank">
                            <fa-stack size="sm">
                                <fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon>
                                <fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "instagram"]' stackItemSize="1x"></fa-icon>
                            </fa-stack>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright © Tus Astros de Luz 2020</p>
            </div>
        </div>
    </div>
</footer>
